@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2? family= Abril+Fatface & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Sriracha & display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Abril Fatface', serif;
    --fonte3: 'Sriracha', cursiva;
}

*{
margin: 0px;
padding: 0px;
}

html,body {
    background-color: darkgray;
    font-family: var(--fonte1);

}

header {
    background-color: black;
    color: white;
    padding-top: 50px;
    text-align: center;
    font-family: var(--fonte2);
    font-size: 3vw; /*nao e a melho opçao mas da pra usar, a largura da fonte e e igual a 4% da largura da tela*/

}

header > h1 {
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;

}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 3em; /*espaçamento entre as linhas*/
    padding-left: 20px;
    font-family: var(--fonte3);
    font-size: 2vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
  
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.219);
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;

}