@charset "UTF-8";

*{
margin: 0px;
padding: 0px;
}

html,body {
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    padding-top: 50px;
    text-align: center;

}

header > h1 {
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;

}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 3em; /*espaçamento entre as linhas*/
    padding-left: 20px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
  
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.219);
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;

}