@charset "utf-8";
/*
tudo que em HTML é id = em CSS é #
tudo que em HTML é calss = em CSS é .
*/


body {
    background-color: #BAFAC5;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color:#2b4630;

}

h1#principal {
   background-color: #346d3d; 
   color: white;
   text-align: center;
}

h2 {
    color: black;
}

.basico {
    color: #52d061;
}

.intermediario {
    color: #c7cf55;
}

.avancado {
    color: #d76666;
}

.texto {
    text-align: justify;
    font-weight: bold;
}